<%- include('partials/header') %>

<div class="container my-3">
    
    <div class="row">
        <div class="col-6 offset-3">
            <div class="my-3">
                <h4>Become a Donor</h4>
            </div>
            <form action="/createdonor" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input name="name" type="name" class="form-control" id="name">
                  </div>
                <div class="mb-3">
                  <label for="city" class="form-label">City of Residence</label>
                  <input name="city" type="text" class="form-control" id="city">
                </div>
                <div class="mb-3">
                  <label for="type" class="form-label">Blood Group</label>
                  <input name="type" type="text" class="form-control" id="type">
                </div>
                <div class="mb-3">
                    <label for="contact" class="form-label">Contact Details (Email/Phone)</label>
                    <input name="contact" type="text" class="form-control" id="contact">
                  </div>
                <div class="mb-3">
                  <textarea class="form-control" placeholder="Enter Complete Address" name="address" id="" cols="20" rows="10"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/dashboard">Back to Dashbaord</a>
              </form>

        </div>
    </div>
</div>



<%- include('partials/footer') %> 