<%- include('partials/header') %> 


<div class="container my-3 mx-3">
    <div class="row">
        <div class="col-6">
            <h6>User Dashboard</h6>
            <div class="card" style="width: 18rem;">
                <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= user.username %> </h5>
                  <p class="card-text">Hi This is the user bio</p>
                </div>
              </div>
        </div>
    </div>
</div>


<%- include('partials/footer') %> 